@charset "UTF-8";
*{
  font-family: "League Spartan", sans-serif;
}
nav {
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 40px;

}

.nav-list {
  background: #3E8DA8;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a {
  display: block;
  padding: 0 20px;
  line-height: 43px;
  color: #f1f1f1;
  text-decoration: none;
}

nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}

nav ul li ul li {
  min-width: 112px;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  display: none;
}

.nav-mobile {
  position: absolute;
  top: 0;
  right: 0;
  background: #ffffff;
  height: 70px;
  width: 70px;
}

.search-box {
  width: 64px;
  right: 290px;
  position: absolute;
}

header {
  position: relative;
  background: url("./image/Rectangle 271.png")
    /*black no-repeat center center scroll*/
  ;
  background-size: contain;
  padding-top: 4rem;
  padding-bottom: 8rem;
  background-repeat: no-repeat;
  margin: 18px;
}

header.masthead h1 {
  font-size: 2rem;
}

.slider img {
  width: 420px;
  margin: 40px
}

.slider .img-box {
  line-height: 1.5;
  /* padding: 45px 0px; */
  color: #fff;
  /* text-align: center; */
  width: 400px;
  padding:30px 5px;
  height: 100%;
}

.img-box p {
  font-size: 23px;
  padding-top:15px;
}

#dwoload {
  text-decoration: none;
  background: #D15E7D;
  border: none;
  padding: 15px 50px;
  border-radius: 15px;
  color: #fff;
  margin: auto;
  text-align: center;
  font-size: 18px;
  width: 230px;
  /*display: flex;*/
}

@media (max-width: 400px) {

  .cta-container a {
    display: block;
    padding-bottom: 1em;
  }

}

#login {
  padding: 5px 24px;
  border: none;
  border-radius: 20px;
  background: #D9D9D9;
}

@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }

  nav ul {
    display: none;
  }

  nav ul li {
    float: none;
  }

  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }

  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }

  nav ul {
    display: none;
  }

  #nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
  }

  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #4B6985;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
  }

  #nav-toggle span:before {
    top: -10px;
  }

  #nav-toggle span:after {
    bottom: -10px;
  }

  #nav-toggle.active span {
    background-color: transparent;
  }

  #nav-toggle.active span:before,
  #nav-toggle.active span:after {
    top: 0;
  }

  #nav-toggle.active span:before {
    transform: rotate(45deg);
  }

  #nav-toggle.active span:after {
    transform: rotate(-45deg);
  }
}

@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
    border-radius: 90px;
  }
}

.navigation {
  height: 70px;
  background: #ffffff;
  margin-top: 30px;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 25px;
}


.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
}

.brand a,
.brand a:visited {
  color: #4B6985;
  text-decoration: none;
}

.slider {
  background: #4CADC2;
}

.bg-light {
  background-color: #f8f9fa !important;
  padding-top: 48px;
}

.bg-light .h5,
h5 {
  font-size: 1.25rem;
  padding-bottom: 10px;
}

.aboutus {
  background: #4CADC2;
  color: #fff;
  padding-bottom: 41px;
}

#bosst {
  font-weight: bold;
}

.custom-content {
  padding-top: 70px;
}

.center-text {
  text-align: center;
  margin-top: 10px;
}

.btn-block {
  background: #D15E7D;
  border: none;
  width: 205px;
  margin: 20px;
  padding: 10px;
  border-radius: 15px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

/* Custom CSS for full-width image container */
.full-width{
  padding: 20px 5px 5px 10px;
}
.full-width p{
  font-size: 30px;
  font-weight: 0;
}
.full-width-image {
  position: relative;
  height: 300px;
  /* Adjust the height as needed */
  background-image: url('./image/Rectangle 343.png');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width-image1 {
  position: relative;
  height: 427px;
  background-image: url('./image/Rectangle 325.png');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 50px 0px;
}

.full-width-image2 {
  position: relative;
  height: 427px;
  background-image: url('./image/Rectangle 390.png');
  background-size: contain;
  background-position: center;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 50px 0px;
  background-repeat: no-repeat;
}
.full-width-image10 {
  position: relative;
  height: 427px;
  background-image: url('./image/movement-video2.png');
  background-size: contain;
  background-position: center;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 50px 0px;
  background-repeat: no-repeat;
}
.full-width-image11 {
  position: relative;
  height: 427px;
  background-image: url('./image/movement-video3.png');
  background-size:contain;
  background-position: center;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 50px 0px;
  background-repeat: no-repeat;
}
.full-width-image3 {
  /* position: relative; */
  /* height: 250px; */
  /* background-image: url('./image/image 1.png'); */
  /* background-size: cover; */
  /* background-position: center; */
  padding: 20px;
  margin: 10px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 30px;
  margin: 50px 0px; */
  /* background-repeat: no-repeat; */
}
.full-width-image3 img{
  width: 140px;
}

.full-width-image7 {
  position: relative;
  height: 300px;
  /* Adjust the height as needed */
  background-image: url('./image/Rectangle 350.png');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.full-width-image1 p {
  width: 330px;
  font-size: 17px;
}

/* Style for the overlay text */
.overlay-text {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* Adding text shadow for better visibility */
}

.circular-div {
  width: 150px;
  height: 150px;
  background-color: #DEDBDB;
  border: 20px solid green;
  border-radius: 50%;
  /* Makes it round */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  color: black;
  margin: 20px;
}

.text {
  background-color: #4CADC2;
  color: white;
  padding: 30px;
  text-align: center;
  border-radius: 15px;
  margin-top: 30px;
  width: 463px;
}

.main {
  background-color: #4CADC2;
  border-radius: 50px;
  color: white;
  padding: 17px 57px;
  width: 1036px;
  display: flex;
  margin: auto;
  margin-top: 47px;
  margin-bottom: 64px;
}

.main p {
  text-align: center;
}

.main h5 {
  text-align: center;
}

.footer {
  background-color: #fff8f8;
  padding: 30px;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 15px;
  font-weight: 500;
  position: relative;
  margin-left: 36px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  color: black;
  display: block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #FFF;
  padding-left: 7px;
}

.footer-col .social-links a {
  color: #31A0FE;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  margin: 0 10px 10px 0;
  line-height: 40px;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #151515;
  background-color: #FFF;
}

@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

.footer img {
  width: 140px;
}

.footer p {
  font-size: 13px;
}

.fa-brands {
  font-size: 22px;
}

#Supercharge {
  padding: 30px 50px;
  background: #87286E;
  border-radius: 15px;
  color: white;
}

#buttonip {
  border: none;
  background: #87286E;
  border-radius: 10px;
  color: white;
  padding: 10px 60px;
}

#pageebtn {
  border: none;
  background: #4CADC2;
  border-radius: 10px;
  color: white;
  padding: 10px 140px;
  margin-bottom: 30px;
}

#pageebtn1 {
  border: none;
  background: #87286E;
  border-radius: 15px;
  color: white;
  padding: 10px 100px;
  margin-bottom: 30px;
  margin-top: 70px;
}

.pagebtn4 {
  border: none;
  background: #87286E;
  border-radius: 15px;
  color: white;
  padding: 10px 50px;
  margin: 40px;
}

#pageebtn2 {
  border: none;
  background: #87286E;
  border-radius: 15px;
  color: white;
  padding: 10px 50px;
  margin-bottom: 101px;
  margin-top: 70px;
  cursor: pointer;
  text-decoration: none;
}

.button-container {
  text-align: center;
}

.pagebtn5 {
  border: none;
  background: #4CADC2;
  border-radius: 60px;
  color: white;
  padding: 10px 150px;
  margin: 30px;
}

.pagebtn6 {
  border: none;
  background: #4CADC2;
  border-radius: 60px;
  color: white;
  padding: 17px 104px;
  margin: 50px 0px 100px;
}

.loginslider img {
  width: 60px;
}

.img-box9 {
  background: #87286E;
  padding: 50px 30px;
  line-height: 2;
  color: white;
  border-radius: 15px;

}

/* for sign in form*/
#feominput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*End*/
#feominput a {
  background-color: #F2F2F2;
  padding-left: 16px;
  width: 382px;
  border: none;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  text-decoration: none;
  text-align: center;
}
#feominput input {
  background-color: #F2F2F2;
  padding-left: 16px;
  width: 382px;
  border: none;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
}

#feominput button{
  cursor: pointer;
  color: #fff;
  background-color: #4CADC2;
  width: 180px;
  border-radius: 5px;
}
#feominput a{
  background-color: #F2F2F2;
  width: 382px;
  border: none;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  background-color: #4CADC2;
  width: 180px;
  border-radius: 5px;
}

.loginslider {
  padding: 40px 20px;
  margin: 30px 20px;
}

.text7 {
  background: #F2F2F2;
  padding: 20px;
  width: 362px;
  border-radius: 15px;
}

.pagebtn7 {
  color: #fff;
  background: #4CADC2;
  border: none;
  padding: 10px 100px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;


}

.ultimate {
  background: #D15E7D;
  padding: 30px;
  border-radius: 15px;
  color: #fff;
  margin-bottom: 50px;
  margin-top: 50px;
}

.just .col-lg-2 {
  width: 400px;
  max-width: 500px;
  min-width: 233px;
}

.Applebtn {
  background: #D15E7D;
  border: none;
  padding: 10px 80px;
  border-radius: 15px;
  margin-top: 40px;
  margin-bottom: 50px;
  display: flex;
  color: #fff;
}


@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideRight {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes slideRight {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.section {
  margin: 0 auto;
  padding: 6rem 0 2rem;
}

.brand img {
  width: 56px;
}

.container {
  max-width: 75rem;
  height: auto;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.centered {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 1rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 100;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: var(--shadow-medium);
}

.darkmode .header {
  background-color: var(--color2);
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  margin: 0 auto;
}

.navbar .navbar__left {
  display: flex;
  align-items: center;
  flex: 0 0 17%;
}

@media (max-width: 766px) {
  .navbar .navbar__left {
    flex: 0 0 auto;
  }
}

.navbar .navbar__center {
  display: flex;
  background: #4CADC2;
  border-radius: 11px;
  z-index: 2;
}

@media (max-width: 766px) {
  .navbar .navbar__center {
    flex: 0 0 100%;
    order: 3;
    align-items: center;
  }

  .headimg img {
    width: 40px
  }

  .headimg1 p {
    font-size: 13px;
  }

  header {
    padding-bottom: 0px;
  }

  .slider img {
    width: 381px;
    /* margin: 40px; */
  }

  .pag2img img {
    width: 400px;
  }

  .main {
    width: 460px;

  }

  #dwoload {
    margin-bottom: 30px;
  }

  .btn-block {
    margin: auto;
    text-align: Center;
    margin-bottom: 15px;
  }

  .circular-div {
    margin: auto;
    text-align: Center;

  }

  .text {
    width: 451px;
    margin-bottom: 30px;
  }

  .Smartphones {
    text-align: Center;
  }
}

.navbar .navbar__right {
  display: flex;
  flex: 0 0 17%;
  align-items: center;
  justify-content: flex-end;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
  margin: 0px 5px 0px 15px;
}

@media (max-width: 766px) {
  .navbar .navbar__right {
    flex: 0 0 auto;
    align-items: center;
  }
}

.brand {
  display: flex;
  align-items: center;
  order: 1;
}

.brand svg {
  width: 60px;
  height: 60px;
}

@media (max-width: 766px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    max-width: 85%;
    height: 100%;
    z-index: 100;
    overflow: hidden;
    background-color: #fff;
    transform: translate(-100%);
    transition: all 0.4s ease-in-out;
  }

  .menu.is-active {
    transform: translate(0%);
  }

  .darkmode .menu {
    background-color: var(--color2);
  }
}

.menu .menu__header {
  display: none;
  box-shadow: var(--shadow-medium);
}

@media (max-width: 766px) {
  .menu .menu__header {
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 4rem;
    z-index: 110;
    visibility: hidden;
    background: transparent;
  }

  .menu .menu__header.is-active {
    visibility: visible;
    background-color: #fff;
  }

  .menu .menu__header.is-active>.menu__arrow {
    display: flex;
  }

  .darkmode .menu .menu__header.is-active {
    background-color: var(--color2);
  }
}

@media (max-width: 766px) {
  .menu .menu__header .menu__arrow {
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 3rem;
  }

  .menu .menu__header .menu__arrow:hover i {
    color: var(--color);
  }

  .menu .menu__header .menu__arrow>i {
    font-size: 1.5rem;
    color: #000;
    transition: all 0.25s ease;
  }

  .darkmode .menu .menu__header .menu__arrow>i {
    color: #fff;
  }
}

@media (max-width: 766px) {
  .menu .menu__header .menu__title {
    cursor: pointer;
    font-weight: 500;
    text-transform: capitalize;
    color: #000;
    transition: all 0.25s ease;
  }

  .menu .menu__header .menu__title:hover {
    color: var(--color);
  }

  .darkmode .menu .menu__header .menu__title {
    color: #fff;
  }
}

@media (max-width: 766px) {
  .menu .menu__inner {
    height: 100%;
    margin-top: -3rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.menu .menu__inner .menu__item {
  position: static;
  display: inline-block;

}

.menu .menu__inner .menu__item:last-child {
  padding-right: 0;
}

.menu .menu__inner .menu__item:hover>.menu__link {
  color:#fff;
}

.darkmode .menu .menu__inner .menu__item:hover>.menu__link {
  color: var(--color);
}

@media (max-width: 766px) {
  .menu .menu__inner .menu__item {
    display: block;
    padding: 0;
  }
}

@media (min-width: 767px) {
  .menu .menu__inner .menu__item:hover>.menu__link i {
    transform: rotate(-90deg);
  }
}

@media (min-width: 767px) {
  .menu .menu__inner .menu__item.menu__dropdown:hover>.submenu {
    opacity: 1;
    visibility: visible;
    top: 95%;
  }
}

.menu .menu__inner .menu__item .menu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  transition: all 0.25s ease;
  text-decoration: none;
}

@media (max-width: 766px) {
  .menu .menu__inner .menu__item .menu__link {
    justify-content: space-between;
    padding: 20px;
  }
}

.menu .menu__inner .menu__item .menu__link>i {
  margin-left: 5px;
  font-size: 1.35rem;
  transform: rotate(90deg);
  transition: 0.35s;
}

@media (max-width: 766px) {
  .menu .menu__inner .menu__item .menu__link>i {
    margin-left: 10px;
    transform: rotate(0deg);
  }
}

.darkmode .menu .menu__inner .menu__item .menu__link {
  color: #fff;
}

.submenu {
  position: absolute;
  z-index: 100;
  top: 110%;
  width: 100%;
   border-radius: 0.25rem;
  border-top: 2px solid var(--color);
  background-color: #4cadc2;
  box-shadow: var(--shadow-medium);
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s ease-in-out;
  transform: translateX(-4%);
}

.darkmode .submenu {
  border-top: 2px solid var(--color);
  background-color: var(--color2);
}

@media (max-width: 766px) {
  .submenu {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    min-width: auto;
    margin: 0;
    padding: 100px 15px 0 15px;
    border-radius: 0;
    border-top: 0;
    box-shadow: none;
    opacity: 1;
    overflow-y: auto;
    visibility: visible;
    transform: translateX(0%);
  }

  .submenu.is-active {
    display: block;
  }
}

@media (min-width: 767px) {
  .submenu {
    -webkit-animation: none !important;
    animation: none !important;
  }
}

@media (min-width: 767px) {
  .submenu.megamenu__normal {
    left: 65%;
    max-width: 250px;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

@media (min-width: 767px) {

  .submenu.megamenu__text,
  .submenu.megamenu__image {
    display: flex;
    flex-wrap: wrap;
    max-width: 14%;
    height: auto;
    margin: 0 auto;
  }
}

@media (min-width: 975px) {

  .submenu.megamenu__text,
  .submenu.megamenu__image {
    /* max-width: 992px; */
  }
}

.submenu.megamenu__image .submenu__inner a {
  display: flex;
  flex-flow: column;
  align-items: center;
}

@media (max-width: 766px) {
  .submenu.megamenu__image .submenu__inner a {
    flex-flow: row;
    align-items: center;
    padding-bottom: 20px;
  }
}

.submenu.megamenu__image .submenu__inner a img {
  display: block;
  width: 100%;
  height: 150px;
  margin-bottom: 15px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 766px) {
  .submenu.megamenu__image .submenu__inner a img {
    width: 30%;
    height: 80px;
    margin-bottom: 0;
    margin-right: 15px;
  }
}

.submenu .submenu__inner {
  width: 0%;
  padding: 0 15px;
}

@media (max-width: 766px) {
  .submenu .submenu__inner {
    width: 100%;
    padding: 0;
  }
}

.submenu .submenu__inner .submenu__title {
  font-size: 16px;
  font-weight: 500;
  color: var(--color);
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.darkmode .submenu .submenu__inner .submenu__title {
  color: var(--color);
}

@media (max-width: 766px) {
  .submenu .submenu__list {
    margin-bottom: 20px;
  }
}

.submenu .submenu__list li {
  display: block;
  line-height: 1;
  margin: 0 auto;
}

.submenu .submenu__list li a {
  display: inline-block;
  padding: 10px 0;
  line-height: 1.4;
  text-transform: capitalize;
  color: #fff;
  transition: all 0.25s ease-in-out;
   text-decoration: none;
}

.submenu .submenu__list li a:hover {
  color:#fff;
}

@media (max-width: 766px) {
  .submenu .submenu__list li a {
    display: block;
  }
}

.darkmode .submenu .submenu__list li a {
  color: #fff;
}

.darkmode .submenu .submenu__list li a:hover {
  color: #fff;
}

.switch {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 10px;
}

.switch .switch__light,
.switch .switch__dark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in;
}

.switch .switch__light {
  font-size: 20px;
  visibility: visible;
  color: #000;
}

.darkmode .switch .switch__light {
  font-size: 0;
  visibility: hidden;
}

.switch .switch__dark {
  font-size: 0;
  visibility: hidden;
  color: #fff;
}

.darkmode .switch .switch__dark {
  font-size: 20px;
  visibility: visible;
}

.overlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.45s ease-in-out;
  pointer-events: none;
}

@media (max-width: 766px) {
  .overlay {
    cursor: url("https://i.imgur.com/cPh9Zm5.png"), zoom-out;
    pointer-events: visible;
  }

  .overlay.is-active {
    opacity: 1;
    visibility: visible;
  }
}

.burger {
  position: relative;
  display: block;
  cursor: pointer;
  width: 25px;
  height: 15px;
  margin-right: 15px;
  opacity: 0;
  visibility: hidden;
  background: transparent;
}

@media (max-width: 766px) {
  .burger {
    opacity: 1;
    visibility: visible;
  }
}

.burger .burger-line {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 1;
  border-radius: 15px;
  background: #000;
}

.darkmode .burger .burger-line {
  background: #fff;
}

.burger .burger-line:nth-child(1) {
  top: 0px;
}

.burger .burger-line:nth-child(2) {
  top: 8px;
  width: 70%;
}

.burger .burger-line:nth-child(3) {
  top: 16px;
}

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: inherit !important;
  /* padding: .5rem 1rem; */
}

#header input {
  background-color: #ffffff;
  padding-left: 16px;
  width: 238px;
  border: none;
  border-radius: 11px !important;
  padding: 17px;
  /* margin: 10px; */
  border: 1px solid #4CADC2;
  height: 41px;
  z-index: 1;
  position: relative;
  margin-left: -4px;
  text-align: right;
}

#login1 {
  background: #4CADC2 !important;
  color: #fff;
  border-radius: 15px;
  width: 132px !important;
  padding: 9px;
  margin: 0px 3px;
  text-decoration: none;
}

#signup {
  text-decoration: none;
  background: #4CADC2 !important;
  color: #fff;
  border-radius: 15px;
  width: 132px !important;
  padding: 9px;
  margin: 0px 3px;
}

@media (max-width: 450px) {
  .headimg img {
    width: 56px;
    margin-top: -51px;
  }
.navbar .navbar__left {
    flex: 0%;
}
  .headimg p {
    font-size: 12px;
  }

  .headimg3 img {
    width: 56px;
    margin-top: -51px;
  }

  #login1 {
    width: auto !important;
  }

  .slider img {
    width: 310px;
    /* margin: 40px; */
  }

  .slider .img-box {
    width: 373px;
  }

  .Smartphones h5 {
    margin-bottom: 30px;
  }

  .text {
    width: 404px;
    margin-bottom: 30px;
  }

  .main {
    width: 409px;
  }

  #header input {

    margin-left: 15px;
    text-align: Center;
  }

  .search-box {
    margin: auto;
    margin-top: -75px;
    margin-right: -96px;
  }

  .center-text {
    margin-bottom: 66px;
  }

  .ultimate p {
    width: 251px !important;
  }

  .Applebtn {
    display: inline-grid;
  }
.navbar .navbar__left {
    flex: 0 0 0%;
}
.form-control {
    display: block;
    width: 80%;
}
.contact h3 {
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    font-family: "League Spartan", sans-serif;
}
}
/*For contact form */
.contact{
  margin: 20px 10px;
  padding:10px
}
.contact-header{
  padding: 20px 0px;
}
.contact h3{
  text-align: center;
  font-weight: 600;
  font-size:35px;
  font-family: "League Spartan", sans-serif;
}
.contact .contact-subtext{
  text-align: center;
}
.contact button{
  
    border: none;
    background: #4CADC2;
    border-radius: 15px;
    color: white;
    padding: 10px 35px;
}
.contact label{
  font-weight: 700;
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
}
.contact .txtbox{
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
}
.contact form{
  max-width: 680px;
}
.preferred-contact-container{
  padding: 0px 0px 0px 30px;
  position: relative;
  left: 20px;
}
.contact .lblchkbox{
  font-weight: 700;
  font-family: "League Spartan", sans-serif;
  font-size: 17px;
}
.contact input[type=checkbox]{
  zoom:1.4;
}
.contact .contact-button-container{
  padding:10px 0px;
}
.lblPreferred{
  font-weight: 700;
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
}
/*End*/
/*new task*/
.steps-container{
  width: 43px;
  height: 33px;
  background-color:#D15E7D;
}
.importance-container p{
  text-align: center;
  padding: 10px 0px;
  font-weight: 700;
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
}
.importance-container-circle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #F20000;
}
.importance-container-circle2{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FFF84B;
}
.importance-container-circle3{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #79EC92;
}
.importance-container-heading p{
  font-weight: 700;
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
}
.btnSaveImportance{
  padding: 30px 60px;
  border: none;
  border-radius: 5px;
  background-color: #87286E;
  cursor: pointer;
}
/*End*/
/*music play*/
.music-play{
  padding: 10px 5px;
  margin:20px 0px;
}
.music-play h3{
  text-align: center;
  font-weight: 600;
  font-size:45px;
  font-family: "League Spartan", sans-serif;
}
.music-play p{
  text-align: center;
  font-weight: 400;
  font-size:25px;
  font-family: "League Spartan", sans-serif;
}
.music-play .music-image-container{
  padding: 10px 0px;
}
/*end*/
/*Task */
.task .fc td, .fc th {
  border-style: solid;
  border-width: 1px;
  padding: 0;
  vertical-align: top;
  width: 110px;
  height: 64px;
}
.task .task-description-project1{
  
}
.task .task-description-project2{

}
.task .task-description-project3{

}
.task-project-container1 a{
  padding: 10px 30px;
  text-decoration: none;
  text-align: center;
  background-color: #4CADC2;
  margin: 20px 10px;
  color: #FFF;
  width: 340px;
  border-radius: 10px;
}
.task-project-container2 a{
  padding: 10px 30px;
  text-decoration: none;
  text-align: center;
  background-color: #87286E;
  color: #FFF;
  margin: 20px;
  width: 340px;
  border-radius: 10px;
}
.task-project-container3 a{
  padding: 10px 30px;
  text-decoration: none;
  text-align: center;
  background-color: #D15E7D;
  color: #FFF;
  margin: 20px 10px;
  width: 340px;
  border-radius: 10px;
}
/*End*/
/*for task 2*/
.task-project-options label{
  padding:0px 10px;
  margin:0px 10px;
}
/*end*/
/* music selection*/
.testimonial-item img {
  width: 250px;
}
/*end*/